{{> enTete}} {{> menu}}
<h1>Ajouter des personnes</h1>
<form method="post" action="/ajouterPersonne" name="ajoutPersonne" id="formPers">
    <table>
        <tr>
            <td>Nom</td>
            <td>
                <input type="text" name="nomPers" id="nomPers">
            </td>
        </tr>
        <tr>
            <td>Prénom</td>
            <td>
                <input type="text" name="prenomPers" id="prenomPers">
            </td>
        </tr>
        <tr>
            <td>Téléphone</td>
            <td>
                <input type="text" name="telPers" id="telPers">
            </td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>
                <input type="text" name="mailPers" id="mailPers">
            </td>
        </tr>
        <tr>
            <td>Login</td>
            <td>
                <input type="text" name="loginPers" id="loginPers">
            </td>
        </tr>
        <tr>
            <td>Mot de passe</td>
            <td>
                <input type="password" name="mdpPers" id="mdpPers">
            </td>
        </tr>
        <tr>
            <td>Catégorie</td>
            <td>
                <input type="radio" name="categorie" value="etudiant" id="etudiant" onchange=switchDetail()> Etudiant
                <input type="radio" name="categorie" value="salarie" id="salarie" onchange=switchDetail()> Salarié
            </td>
        </tr>
        <tr id="detailEtu1" style="display:none;">
            <td>Année</td>
            <td>
                <select id="selectDiv" name="selectDiv">
                    {{#each listeDiv}}
                    <option value="{{this.div_num}}">{{this.div_nom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr id="detailEtu2" style="display:none;">
            <td>Département</td>
            <td>
                <select id="selectDep" name="selectDep">
                    {{#each listeDep}}
                    <option value="{{this.dep_num}}">{{this.dep_nom}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr id="detailSal1" style="display:none;">
            <td>Tel. pro.</td>
            <td>
                <input type="text" name="telPro" id="telPro">
            </td>
        </tr>
        <tr id="detailSal2" style="display:none;">
            <td>Fonction</td>
            <td>
                <select id="selectFon" name="selectFon">
                    {{#each listeFon}}
                    <option value="{{this.fon_num}}">{{this.fon_libelle}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr id="validerPers" style="display:none;">
            <td colspan="2">
                <input type="submit" value="Valider">
            </td>
        </tr>
    </table>
</form>
<script>
    function switchDetail() {
        if (document.getElementById("etudiant").checked) {
            document.getElementById("detailEtu1").style.display = "";
            document.getElementById("detailEtu2").style.display = "";
            document.getElementById("detailSal1").style.display = "none";
            document.getElementById("detailSal2").style.display = "none";
            document.getElementById("validerPers").style.display= "";
        } else if (document.getElementById("salarie").checked) {
            document.getElementById("detailSal1").style.display = "";
            document.getElementById("detailSal2").style.display = "";
            document.getElementById("detailEtu1").style.display = "none";
            document.getElementById("detailEtu2").style.display = "none";
            document.getElementById("validerPers").style.display= "";

        } else {
            alert("What is wrong with you ?!");
        }
    }
</script>