{{> enTete}}
{{> menu}}
<h1>Pour vous connecter</h1>
{{#if erreur}}
	<p style="color: red">{{erreur}}</p>
{{/if}}
<form method="post" action="/tentativeConnexion" name="connexion">
	<table>
	<tr>
		<td>
			Nom d'utilisateur :
		</td>
		<td>
			<input type="text" name="username" id="username">
		</td>
	</tr>
	<tr>
		<td>
			Mot de passe : 
		</td>
		<td>
			<input type="password" name="password" id="password">
		</td>
	</tr>
	<tr>
		<td>
			<img src="/image/nb/{{nb1}}.jpg" alt="{{nb1}}"> + <img src="/image/nb/{{nb2}}.jpg" alt="{{nb2}}"> =
		</td>
		<td>
			<input type="text" name="nb" id="nb">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="Valider">
		</td>
	</tr>
    </table>
</form>
