{{> enTete}} {{> menu}}
<h1>Liste des citations non validées</h1>
{{#if valider}}
<p><img src="/image/valid.png"> La citation a bien été validée</p>
<a href="/validerCitation">Revenir à la liste</a>
{{else}}
{{#if listeCitation}}
<table>
    <tr>
        <th >Nom de l'enseignant</th>
        <th>Libellé</th>
        <th>Date</th>
        <th>Valider ?</th>
    </tr>
    {{#each listeCitation}}
    <tr>
        <td>{{this.per_prenom}} {{this.per_nom}}</td>
        <td>{{this.cit_libelle}}</td>
        <td>{{this.cit_date}}</td>
        <td><a href="/validerCitation/{{this.cit_num}}"><img src="/image/valid.png"></a></td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>Aucune citation à valider !</p>
{{/if}}
{{/if}}