{{> enTete}} {{> menu}}
<h1>Liste des citations déposées</h1>
<table>
    <tr>
        <th>Nom de l'enseignant</th>
        <th>Libellé</th>
        <th>Date</th>
        <th>Moyenne des notes</th>
        {{#if session.idPersonne}}
        <th>Noter</th>
        {{/if}}
    </tr>
    {{#each listeCitation}}
    <tr>
        <td>{{this.per_prenom}} {{this.per_nom}}</td>
        <td>{{this.cit_libelle}}</td>
        <td>{{this.cit_date}}</td>
        <td>0</td>
        {{#if ../session.idPersonne}} 
            {{#if this.estNotable}}
                <td><a href="/noterCitation/{{this.cit_num}}"><img title="Cliquez pour noter" src="/image/modifier.png"></a></td>
            {{else}}
                <td><img title="Déjà notée" src="/image/erreur.png"></td>
            {{/if}} 
        {{/if}}
    </tr>
    {{/each}}
</table>